DB_USER_LOCAL=
DB_PASSWORD_LOCAL=
DB_HOST_LOCAL=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=
DB_PORT=
SECRET_KEY=
AWS_BUCKET_NAME=
LOCAL_URL=mysql+pymysql://root:<PASSWORD>@localhost:3306/<DB_NAME>
aws_region=us-east-1

GOOGLE_CLIENT_ID=
GEMINI_API_KEY=

aws_access_key_id=
aws_secret_access_key=
aws_session_token=